<div class="div">
    <form #ajoutForm="ngForm"   (ngSubmit)="goToConn(ajoutForm.value)">
      <div class="form-group">
        <label class="label" for="exampleInputEmail1" i18n><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
          <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
        </svg> OTP</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number" name="phone" ngModel placeholder="OTP" i18n>

      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked" i18n>
          Send notification
        </label>
      </div>
      <button type="submit" class="btn btn-primary" i18n>Submit</button>
    </form>
  </div>

